{
  plugins: [
    [
      "auto-import", {
        "declarations": [
          { "default": "React", "path": "react" },
          { "default": "PropTypes", "path": "prop-types" }
        ]
      }
    ],
      "transform-class-properties",
      "syntax-jsx",
      "transform-react-statements",
      "transform-dot-notation-to-props",
      "transform-react-jsx",
      "transform-react-display-name"
  ]
}
