.container {
    width: 200px;
    height: 20px;
    background-color: lightgray;
}

.vertical_container {
    width: 20px;
    height: 200px;
    background-color: lightgray;
}

.thumb {
    width: 20px;
    height: 20px;
    background-color: darkgray;
    cursor: pointer;
}
