.rc-dropdown__container {
    position: relative;
    display: inline-block;
}

.rc-dropdown__element {
    display: inline-block;
}

.rc-dropdown__content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 1;
}
