.container {
    width: 200px;
    height: 100px;
    outline: 1px solid black;
}


.scroll-bar {
    position: relative;
    width: 8px; height: 100%;
}

.scroll-bar-item {
    position: absolute;
    width: 8px;
    background-color: lightgrey;
    border-radius: 4px;
}
