.rc-scrollable__box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rc-scrollable__content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin-bottom: -100%;
    padding-bottom: 100%;
    overflow-y: auto;
    margin-right: -100%;
    padding-right: 100%;
}

.rc-scrollable__scroll-bar {
    position: absolute;
    height: 100%;
    top: 0; right: 0;
    visibility: hidden;
}
